
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    

    width: fit-content;
    margin-inline: auto;
}

header{
    font-size: 34px;
    background-color: cornflowerblue;
    padding-inline: 40px;
    
    border-radius: 20px;
}

input[type='number']{
    max-width: 130px;
}

select{
    width: 150px;
}

.cell{
    width: 310px;
}

header span{
    color: red;
}



.products{
    display: flex;
    flex-direction: column;
    row-gap: 3px;

}
